<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
        <!-- <script src="ngCordova/dist/ng-cordova.min.js"></script> -->
    <script src="script.js"></script>
  </head>

  <body ng-app="App">
  <div ng-controller="CrudCtrl">
    <table>
      <tr>
        <td>Nome</td>
        <td>Cidade</td>
        <td><span ng-click="add()">Add Novo</span></td>
      </tr>
      <tr ng-repeat="profile in Profiles">
        <td>
          <input 
          type="text" 
          ng-model="profile.nome" 
          ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.nome }}</span>
        </td>
        <td>
          <input 
          type="text" 
          ng-model="profile.nprocesso" 
          ng-show="profile.editable">
          <span ng-hide="profile.editable">{{ profile.nprocesso }}</span>
        </td>
        <td>
          <span ng-click="edit(profile)" ng-hide="profile.editable">Editar</span>
          <span ng-click="save(profile)" ng-show="profile.editable">Salvar</span>
          <span ng-click="delete(profile.id)"> | Deletar</span>
        </td>
      </tr>
    </table>
  </div>
  </body>

</html>